{% extends "fin_web_graphs/header.html" %}
{% block content %}
<div class="card-deck">
    {% for graph in graphs %}
    {% load static %}
    <div class="card">
        <a href="/{{ graph.url }}">
            <img class="card-img-top" src="{% static graph.icon  %}" alt="Card image cap">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ graph.title }}</h5>
            <!--            <p class="card-text">content.</p>-->
            <a href="/{{ graph.url }}" class="btn btn-primary">Show graph</a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock content %}